<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Devise Demo </h1>
    <p>
      your OTP is: <%= @user.otp %>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>