<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Devise Demo </h1>
    <p>
      You have successfully created an account,
      your OTP is: <%= @user.otp %>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Log In', new_user_verification_url(@user, confirmation_token: @token) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>